<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sukai.dictionarymanagement.region.mapper.CoreRegionMapper">
    <resultMap id="BaseResultMap" type="com.sukai.dictionarymanagement.region.entity.Region">
        <!--@mbg.generated-->
        <!--@Table core_region-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="region_code" jdbcType="VARCHAR" property="regionCode"/>
        <result column="region_name_cn" jdbcType="VARCHAR" property="regionNameCn"/>
        <result column="region_name_en" jdbcType="VARCHAR" property="regionNameEn"/>
        <result column="region_start_date" jdbcType="TIMESTAMP" property="regionStartDate"/>
        <result column="region_stop_date" jdbcType="TIMESTAMP" property="regionStopDate"/>
        <result column="province_code" jdbcType="VARCHAR" property="provinceCode"/>
        <result column="region_name_ur" jdbcType="VARCHAR" property="regionNameUr"/>
        <collection property="cityList" ofType="com.sukai.dictionarymanagement.city.entity.D404City">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result column="city_code" property="cityCode" jdbcType="VARCHAR"/>
            <result column="city_name_cn" property="cityNameCn" jdbcType="VARCHAR"/>
            <result column="city_name_dj" property="cityNameDj" jdbcType="VARCHAR"/>
            <result column="city_name_en" property="cityNameEn" jdbcType="VARCHAR"/>
            <result column="city_name_et" property="cityNameEt" jdbcType="VARCHAR"/>
            <result column="city_name_ur" property="cityNameUr" jdbcType="VARCHAR"/>
            <result column="city_start_date" property="cityStartDate" jdbcType="TIMESTAMP"/>
            <result column="city_stop_date" property="cityStopDate" jdbcType="TIMESTAMP"/>
            <result column="region_code" property="regionCode" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <select id="selectAllRegionAndCities" resultMap="BaseResultMap">
        select *
        from core_region cr
                 inner join d404_city dc on cr.region_code = dc.region_code;
    </select>
</mapper>